name: Tests

on:
  push:
  pull_request:
  schedule:
  - cron: 0 0 * * 0

jobs:
  tests:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-22.04
        python-version:
        - '3.7'
        - '3.8'
        - '3.9'
        - '3.10'
        - '3.11'
        - 3.12-dev
        - pypy-3.9
        include:
        - os: ubuntu-20.04
          python-version: '3.5'
        - os: ubuntu-20.04
          python-version: '3.6'
        - os: windows-2022
          python-version: '3.11'
        - os: macos-11
          python-version: '3.11'
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox
    - name: Run tests
      run: |
        tox -e tests
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: ${{ matrix.os }}_${{ matrix.python-version }}
        verbose: true
        fail_ci_if_error: true
